<a href="https://colab.research.google.com/github/sofisofi01/Machine-learning/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Импорт библиотек
☝

In [18]:
import pandas as pd
import numpy as np
df = pd.read_csv("high_grossing_films_by_year.csv")
print("Количество строк и столбцов:", df.shape)
print("Начало датасета:")
print(df.head(), "\n")
print("Конец датасета:")
print(df.tail(), "\n")
print("Типы колонок:")
print(df.dtypes, "\n")
print("Список колонок:")
print(df.columns, "\n")
print("Среднее арифметическое по колонкам:")
print(df.mean(), "\n")
print("Минимальные значения по колонкам:")
print(df.min(), "\n")
print("Максимальные значения по колонкам:")
print(df.max())

Количество строк и столбцов: (150, 4)
Начало датасета:
   Year                  Title  \
0  1915  The Birth of a Nation
1  1916            Intolerance
2  1917              Cleopatra
3  1918                 Mickey
4  1919        The Miracle Man

                                     Worldwide Gross    Budget
0  $50,000,000–100,000,000$20,000,000+R($5,200,000)R  $110,000
1                                      $1,750,000RIN  $385,907
2                                         $500,000*R  $300,000
3                                         $8,000,000  $250,000
4                                        $3,000,000R  $120,000

Конец датасета:
     Year                      Title                  Worldwide Gross  \
145  2020  Demon Slayer: Mugen Train                     $507,119,058
146  2021    Spider-Man: No Way Home  $1,921,847,111 ($1,912,233,593)
147  2022   Avatar: The Way of Water                   $2,320,250,281
148  2023                    Barbie†                   $1,445,638,421
149  2024             The Beekeeper†                     $105,504,747

                       Budget
145               $15,750,000
146              $200,000,000
147  $350,000,000–460,000,000
148  $128,000,000–145,000,000
149                       TBD

Типы колонок:
Year                int64
Title              object
Worldwide Gross    object
Budget             object
dtype: object

Список колонок:
Index(['Year', 'Title', 'Worldwide Gross', 'Budget'], dtype='object')

Среднее арифметическое по колонкам:
Year    1965.286667
dtype: float64

Минимальные значения по колонкам:
Year                                        1915
Title               20,000 Leagues Under the Sea
Worldwide Gross    $1,007,336,937 ($997,039,412)
Budget                                $1,000,000
dtype: object

Максимальные значения по колонкам:
Year                                     2024
Title              You Can't Take It with You
Worldwide Gross    $968,511,805($763,455,561)
Budget                  £505,581(~$2,000,000)
dtype: object

<ipython-input-18-c4d4b115a615>:14: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean(), "\n")